.sectors{
    background-color: #5b2096;
    padding: 0 7% 4.5rem 7%;
    color: #fff;
}
.sectors-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}
.sectors-head p{
    font-size: calc(0.65rem + 0.5vw);
    text-align: center;
    width: 65%;
    margin-top: 1rem;
}
.sectors .sectors-row{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    padding: 1rem;
    background: linear-gradient(to bottom, #3f126d, #772ebf);
    border-radius: 15px;
    box-shadow: rgba(29, 29, 29, 0.408) 0px 5px 12px;
    margin-bottom: 1.5rem;
    overflow: hidden;
    transition: all 0.2s ease;
}
.sectors .sector-box{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectors .sector-box img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    scale: 1;
    transition: scale 0.2s ease;
}
.sectors .sector-box:hover img{
    scale: 1.1;
}
.sectors .sector-box p{
    margin: 0;
    margin-top: 1rem;
    font-weight: 600;
    font-size: calc(0.65rem + 0.5vw);
    text-align: center;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .sectors{
        padding: 0 7% 4rem 7%;
    }
    .sectors-head{
        margin-bottom: 2.2rem;
    }
    .sectors-head p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.9rem;
    }
    .sectors .sectors-row{
        padding: 0.9rem;
        border-radius: 13px;
        margin-bottom: 1.4rem;
    }
    .sectors .sector-box img{
        width: 55px;
        height: 55px;
    }
    .sectors .sector-box p{
        margin-top: 0.9rem;
        font-size: calc(0.6rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .sectors{
        padding: 0 7% 3.5rem 7%;
    }
    .sectors-head{
        margin-bottom: 1.8rem;
    }
    .sectors-head p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.8rem;
    }
    .sectors .sectors-row{
        padding: 0.8rem;
        border-radius: 11px;
        margin-bottom: 1.3rem;
    }
    .sectors .sector-box img{
        width: 47px;
        height: 47px;
    }
    .sectors .sector-box p{
        margin-top: 0.8rem;
        font-size: calc(0.55rem + 0.5vw);
    }
}

@media screen and (max-width: 768px) {
    .sectors{
        padding: 0 1rem 3rem 1rem;
    }
}