.founder{
    background-color: #5b2096;
    padding: 4rem 7% 4rem 7%;
    color: #fff;
    position: relative;
}
.founder .glass-element img{
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
}
.founder h2{
    margin-bottom: 3.5rem;
    text-align: center;
}
.founder .founder-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.founder .founder-top-image{
    width: 31%;
}
.founder .founder-top-image img{
    width: 100%;
}
.founder .founder-top-content{
    width: 66%;
}
.founder p{
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 400;
    text-align: end;
}
.founder p span{
    font-weight: 550;
    color: #f8a853;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .founder{
        padding: 3.5rem 7% 3.5rem 7%;
    }
    .founder h2{
        margin-bottom: 3.3rem;
    }
    .founder p{
        font-size: calc(0.6rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .founder{
        padding: 3rem 7% 3rem 7%;
    }
    .founder h2{
        margin-bottom: 3.1rem;
    }
    .founder p{
        font-size: calc(0.55rem + 0.5vw);
    }
}

@media screen and (max-width: 768px) {
    
}