.about-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5b2096;
    padding: 4rem 0 4rem 7%;
    height: 88vh;
    position: relative;
}
.about-banner .about-banner-content{
    width: 57%;
    color: #fff;
    z-index: 2;
}
.about-banner .about-banner-content h1{
    margin-bottom: 1.5rem;
}
.about-banner .about-banner-content p{
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 400;
}
.about-banner .about-banner-content p span{
    font-weight: 550;
    color: #f8a853;
}
.about-banner .about-banner-image{
    width: 40%;
    z-index: 2;
}
.about-banner .about-banner-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .about-banner{
        padding: 3.5rem 0 3.5rem 7%;
    }
    .about-banner .about-banner-content h1{
        margin-bottom: 1.3rem;
    }
    .about-banner .about-banner-content p{
        font-size: calc(0.6rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .about-banner{
        padding: 3rem 0 3rem 7%;
    }
    .about-banner .about-banner-content h1{
        margin-bottom: 1.1rem;
    }
    .about-banner .about-banner-content p{
        font-size: calc(0.55rem + 0.5vw);
    }
}

@media screen and (max-width: 768px) {
    
}