.our-clients{
    background-color: #5b2096;
    padding: 1rem 7%;
}
.our-clients h5{
    font-size: calc(1.8rem + 0.5vw);
    text-align: center;
    color: #fff;
}

.our-clients .our-clients-slider {
  position: relative;
}
.our-clients .swiper {
  width: 80%;
  padding: 3rem 0;
}
.our-clients .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  width: 260px;
  height: 260px;
  background: linear-gradient(180deg, #836c9ad3 -10%, #300d53 95%);
  backdrop-filter: blur(10px);
}
.our-clients .swiper .swiper-slide img {
  width: 80%;
  height: auto;
  object-fit: contain;
  filter: brightness(0) invert(1);
}
.our-clients .swiper-button-next,
.our-clients .swiper-button-prev {
  color: white;
  top: 52%;
  transform: translateY(-10%);
  scale: 0.7;
  position: absolute;
  z-index: 10;
}
.our-clients .swiper-button-prev {
  left: 2rem;
}
.our-clients .swiper-button-next {
  right: 2rem;
}