.our-clients{
    background-color: #5b2096;
    padding: 1rem 7%;
    overflow: hidden;
}
.our-clients h5{
    font-size: calc(1.8rem + 0.5vw);
    text-align: center;
    color: #fff;
}

.our-clients .our-clients-slider {
  position: relative;
}
.our-clients .swiper {
  width: 80%;
  padding: 3rem 0;
}
.our-clients .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  width: 260px;
  background: linear-gradient(180deg, #836c9ad3 -10%, #300d53 95%);
  backdrop-filter: blur(10px);
  aspect-ratio: 1/1;
}
.our-clients .swiper .swiper-slide img {
  width: 80%;
  height: auto;
  object-fit: contain;
  filter: brightness(0) invert(1);
}
.our-clients .swiper .swiper-slide img.black {
  filter: grayscale(100%) !important;
}
.our-clients .swiper-button-next,
.our-clients .swiper-button-prev {
  color: white;
  top: 52%;
  transform: translateY(-10%);
  scale: 0.7;
  position: absolute;
  z-index: 10;
}
.our-clients .swiper-button-prev {
  left: 2rem;
}
.our-clients .swiper-button-next {
  right: 2rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
  .our-clients{
    padding: 0.9rem 7%;
  }
  .our-clients h5{
    font-size: calc(1.6rem + 0.5vw);
  }

  .our-clients .swiper {
    padding: 2.7rem 0;
  }
  .our-clients .swiper .swiper-slide {
    width: 260px;
  }
  .our-clients .swiper-button-next,
  .our-clients .swiper-button-prev {
    transform: translateY(-5%);
    scale: 0.6;
  }
  .our-clients .swiper-button-prev {
    left: 1.5rem;
  }
  .our-clients .swiper-button-next {
    right: 1.5rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
  .our-clients{
    padding: 0.8rem 7%;
  }
  .our-clients h5{
    font-size: calc(1.4rem + 0.5vw);
  }

  .our-clients .swiper {
    padding: 2rem 0;
  }
  .our-clients .swiper .swiper-slide {
    width: 260px;
  }
  .our-clients .swiper-button-next,
  .our-clients .swiper-button-prev {
    transform: translateY(-5%);
    scale: 0.55;
  }
  .our-clients .swiper-button-prev {
    left: 1rem;
  }
  .our-clients .swiper-button-next {
    right: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .our-clients{
    padding: 3.5rem 1rem 1rem 1rem;
  }
  .our-clients h5{
    font-size: calc(1.4rem + 0.5vw);
  }

  .our-clients .swiper {
    width: 100%;
    padding: 1.7rem 0;
  }
  .our-clients .swiper .swiper-slide {
    width: 300px;
    height: auto;
  }
  .our-clients .swiper-button-next,
  .our-clients .swiper-button-prev {
    display: none;
  }
}