.client-reviews{
    background-color: #5b2096;
    /* padding: 12rem 7% 4rem 7%; */
    padding: 6rem 7% 4rem 7%;
    position: relative;
}
/* .client-reviews #review-paper{
    width: 25%;
    position: absolute;
    top: -2rem;
    left: 0;
    z-index: 10;
} */
.client-reviews-container{
    background-color: #300d53;
    color: #fff;
    border: 1px solid #d6954e;
    border-radius: 30px;
    overflow: hidden;
}
.client-reviews-head{
    padding: 1rem 0 1rem 0;
    border-bottom: 2px solid #d6954e;
}
.client-reviews-head h6{
    font-size: calc(1.6rem + 0.5vw);
    text-align: center;
}
.reviews-slider{
    position: relative;
}
.reviews-slider .swiper-slide{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem 5rem;
}
.reviews-slider .swiper-slide .slide-image{
    width: 26%;
}
.reviews-slider .swiper-slide .slide-image img{
    width: 100%;
}
.reviews-slider .swiper-slide .slide-content{
    width: 71%;
}
.reviews-slider .swiper-slide .slide-content span:nth-child(1){
    font-size: calc(1rem + 0.5vw);
    font-weight: 700;
    display: block;
}
.reviews-slider .swiper-slide .slide-content span:nth-child(2){
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 600;
    display: block;
}
.reviews-slider .swiper-slide .slide-content .rating{
    margin-top: 0.3rem;
}
.reviews-slider .swiper-slide .slide-content .star{
    font-size: calc(0.7rem + 0.5vw);
}
.reviews-slider .swiper-slide .slide-content p{
    font-size: calc(0.6rem + 0.5vw);
    font-weight: 400;
    margin-top: 1rem;
}

.reviews-slider .swiper-button-next,
.reviews-slider .swiper-button-prev{
  color: #d6954e;
  top: 52%;
  transform: translateY(-50%);
  scale: 0.7;
  position: absolute;
  z-index: 10;
}
.reviews-slider .swiper-button-prev{
  left: 0.5rem;
}
.reviews-slider .swiper-button-next{
  right: 0.5rem;
}

.custom-pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 3px;
    margin: 1.5rem 0 2rem 0;
}
.custom-pagination .swiper-pagination-bullet{
    width: 15px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    opacity: 1;
    transition: all 0.3s ease;
}
.custom-pagination .swiper-pagination-bullet-active{
    background-color: #d6954e;
    width: 35px;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .client-reviews{
        /* padding: 11rem 7% 3.5rem 7%; */
        padding: 5.5rem 7% 3.5rem 7%;
    }
    /* .client-reviews #review-paper{
        top: -2.2rem;
    } */
    .client-reviews-container{
        border-radius: 28px;
    }
    .client-reviews-head{
        padding: 0.9rem 0 0.9rem 0;
        border-bottom: 1.9px solid #d6954e;
    }
    .client-reviews-head h6{
        font-size: calc(1.4rem + 0.5vw);
    }
    .reviews-slider .swiper-slide{
        padding: 2.8rem 4.8rem;
    }
    .reviews-slider .swiper-slide .slide-content span:nth-child(1){
        font-size: calc(0.95rem + 0.5vw);
    }
    .reviews-slider .swiper-slide .slide-content span:nth-child(2){
        font-size: calc(0.6rem + 0.5vw);
    }
    .reviews-slider .swiper-slide .slide-content .star{
        font-size: calc(0.65rem + 0.5vw);
    }
    .reviews-slider .swiper-slide .slide-content p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.9rem;
    }

    .reviews-slider .swiper-button-next,
    .reviews-slider .swiper-button-prev{
        scale: 0.65;
    }

    .custom-pagination{
        gap: 2.5px;
        margin: 1rem 0 1.5rem 0;
    }
    .custom-pagination .swiper-pagination-bullet{
        width: 13px;
        height: 3.5px;
    }
    .custom-pagination .swiper-pagination-bullet-active{
        width: 30px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .client-reviews{
        /* padding: 10rem 7% 3rem 7%; */
        padding: 5rem 7% 3rem 7%;
    }
    /* .client-reviews #review-paper{
        top: -2.7rem;
    } */
    .client-reviews-container{
        border-radius: 25px;
    }
    .client-reviews-head{
        padding: 0.8rem 0 0.8rem 0;
        border-bottom: 1.5px solid #d6954e;
    }
    .client-reviews-head h6{
        font-size: calc(1.2rem + 0.5vw);
    }
    .reviews-slider .swiper-slide{
        padding: 2.5rem 4.5rem;
    }
    .reviews-slider .swiper-slide .slide-content span:nth-child(1){
        font-size: calc(0.9rem + 0.5vw);
    }
    .reviews-slider .swiper-slide .slide-content span:nth-child(2){
        font-size: calc(0.55rem + 0.5vw);
    }
    .reviews-slider .swiper-slide .slide-content .star{
        font-size: calc(0.6rem + 0.5vw);
    }
    .reviews-slider .swiper-slide .slide-content p{
        font-size: calc(0.5rem + 0.5vw);
        margin-top: 0.8rem;
    }

    .reviews-slider .swiper-button-next,
    .reviews-slider .swiper-button-prev{
        scale: 0.6;
    }

    .custom-pagination{
        gap: 1.8px;
        margin: 0.5rem 0 1.3rem 0;
    }
    .custom-pagination .swiper-pagination-bullet{
        width: 10px;
        height: 2.8px;
    }
    .custom-pagination .swiper-pagination-bullet-active{
        width: 25px;
    }
}

@media screen and (max-width: 768px) {
    .client-reviews{
        /* padding: 10rem 1rem 2rem 1rem; */
        padding: 3rem 1rem 2rem 1rem;
    }
    /* .client-reviews #review-paper{
        width: 50%;
        top: -1.5rem;
    } */
    .client-reviews-container{
        border-radius: 20px;
    }
    .client-reviews-head{
        padding: 0.8rem 1rem 0.5rem 0;
    }
    .client-reviews-head h6{
        font-size: calc(1.2rem + 0.5vw);
    }
    .reviews-slider .swiper-slide{
        padding: 1rem 1rem;
    }
    .reviews-slider .swiper-slide .slide-image{
        width: 100%;
    }
    .reviews-slider .swiper-slide .slide-content{
        width: 100%;
        margin-top: 1rem;
    }
    .reviews-slider .swiper-slide .slide-content span:nth-child(1){
        font-size: calc(1.2rem + 0.5vw);
    }
    .reviews-slider .swiper-slide .slide-content span:nth-child(2){
        font-size: calc(0.85rem + 0.5vw);
    }
    .reviews-slider .swiper-slide .slide-content .star{
        font-size: calc(0.8rem + 0.5vw);
    }
    .reviews-slider .swiper-slide .slide-content p{
        font-size: calc(0.9rem + 0.5vw);
    }

    .reviews-slider .swiper-button-next,
    .reviews-slider .swiper-button-prev{
        display: none;
    }

    .custom-pagination{
        display: none;
    }
}
