.navbar {
  padding: 0.8rem 7% !important;
  background: linear-gradient(to bottom, #571e94, #2e0e4f);
  width: 100%;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.245);
  z-index: 10;
}
.navbar .nav-brand img {
  width: 60px;
}
.navbar .nav {
  padding-left: 2.5rem;
}
.navbar .nav-link {
  color: #fff !important;
  font-weight: 500;
  font-size: calc(0.55rem + 0.5vw);
  margin: 0 1.5rem;
  padding: 0 !important;
  position: relative;
}
.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  border-radius: 10px;
  background-color: #fff;
  transition: width 0.3s ease;
}
.navbar .nav-link:hover::after {
  width: 50%;
}
.navbar .get-in-touch-btn {
  background-color: #fff;
  color: #2e0e4f;
  text-decoration: none;
  padding: 0.55rem 1.1rem;
  border-radius: 30px;
  font-weight: 550;
  font-size: calc(0.55rem + 0.5vw);
  transition: all 0.3s ease;
}
.navbar .get-in-touch-btn:hover {
  background-color: #2e0e4f;
  color: #fff;
  box-shadow: rgba(255, 255, 255, 0.278) 0px 3px 8px;
}

/* Media Queries */
@media (max-width: 992px) {
  .navbar {
    padding: 0.8rem 1rem !important;
  }
  .navbar .nav-brand img {
    width: 50px;
  }
  .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .offcanvas {
    background: #2e0e4f;
    width: 70% !important;
  }
  .offcanvas .offCanvasLogo {
    width: 60px;
  }
  .offcanvas .nav-link {
    color: white !important;
    margin: 0.4rem 0;
    font-size: calc(0.9rem + 0.5vw);
    font-weight: 600;
    width: max-content;
  }
  .offcanvas .nav-link.active {
    border-bottom: 2px solid #fff;
  }
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
  .navbar {
    padding: 0.7rem 7% !important;
  }
  .navbar .nav-brand img {
    width: 55px;
  }
  .navbar .nav-link {
    font-size: calc(0.5rem + 0.5vw);
    margin: 0 1.4rem;
  }
  .navbar .get-in-touch-btn {
    padding: 0.5rem 1rem;
    font-size: calc(0.5rem + 0.5vw);
  }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
  .navbar {
    padding: 0.5rem 7% !important;
  }
  .navbar .nav-brand img {
    width: 50px;
  }
  .navbar .nav {
    padding-left: 2.3rem;
  }
  .navbar .nav-link {
    font-size: calc(0.45rem + 0.5vw);
    margin: 0 1.3rem;
  }
  .navbar .nav-link::after {
    bottom: -3px;
  }
  .navbar .get-in-touch-btn {
    padding: 0.45rem 0.9rem;
    font-size: calc(0.45rem + 0.5vw);
  }
}
