.timeline{
  background: #5b2096;
  padding: 2rem 7%;
  color: #fff;
}
.timeline h3{
  text-align: center;
  margin-bottom: 4rem;
}
.timeline-wrapper{
  position: relative;
}
/* vertical line */
.timeline-wrapper::before{
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 4px;
  height: 100%;
  background: #fff;
  transform: translateX(-50%);
  border-radius: 10px;
}
.timeline-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.timeline-left,
.timeline-right{
  width: 47%;
}
.timeline-center{
  width: 6%;
  display: flex;
  justify-content: center;
}
.timeline-center .dot{
  width: 17px;
  height: 17px;
  background: #fff;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 0 0 8px rgba(255,255,255,0.25);
  /* animation: pulse 1.7s infinite; */
}
/* @keyframes pulse{
  0%{ box-shadow:0 0 0 0 rgba(255,255,255,0.4);}
  70%{ box-shadow:0 0 0 12px rgba(255,255,255,0);}
  100%{ box-shadow:0 0 0 0 rgba(255,255,255,0);}
} */
.timeline-left{
  text-align: right;
  padding-right: 2rem;
}
.timeline-right{
  padding-left: 2rem;
}
.timeline-right span{
  font-size: calc(0.9rem + 0.5vw);
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
}
.timeline-right p{
  line-height: 1.4;
  font-size: calc(0.4rem + 0.5vw);
  margin-bottom: 0.5rem;
}

.timeline-left .year{
  font-size: calc(2rem + 0.5vw);
  font-weight: 700;
  display: block;
  margin-bottom: 1.5rem;
}
.timeline-left .image-circle{
  width: 50%;
  aspect-ratio: 1/1;
  background: #3f116b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timeline-left .image-circle img{
  width: 100%;
}
.timeline-left .image-circle{
  margin-left: auto;
}
.timeline-row.reverse .timeline-left .image-circle{
  margin-right: auto;
  margin-left: 0;
}

/* reverse layout */
.timeline-row.reverse{
  flex-direction: row-reverse;
}
.timeline-row.reverse .timeline-left{
  text-align: left;
  padding-left: 2rem;
  padding-right: 0;
}
.timeline-row.reverse .timeline-right{
  text-align: right;
  padding-right: 2rem;
  padding-left: 0;
}







/* .timeline{
    background-color: #5b2096;
    padding: 1rem 7% 3rem 7%;
    color: #fff;
    overflow: hidden;
}
.timeline h2{
    text-align: center;
}
.timeline-content{
    margin-top: 3rem;
} */
/* .timeline-box{
    margin-bottom: 3.5rem;
    border-bottom: 2px solid #d2d2d2;
    padding-bottom: 1rem;
}
.timeline-box span{
    display: block;
    font-weight: 700;
    font-size: calc(1rem + 0.5vw);
    margin-bottom: 1.5rem;
}
.timeline-box p{
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 400;
} */

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .timeline{
        padding: 3.5rem 7% 2.5rem 7%;
    }
    .timeline-content{
        margin-top: 2.8rem;
    }
    .timeline-box{
        margin-bottom: 3.3rem;
        border-bottom: 1.7px solid #d2d2d2;
        padding-bottom: 0.9rem;
    }
    .timeline-box span{
        font-size: calc(0.95rem + 0.5vw);
        margin-bottom: 1.3rem;
    }
    .timeline-box p{
        font-size: calc(0.6rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .timeline{
        padding: 3rem 7% 2rem 7%;
    }
    .timeline-content{
        margin-top: 2.6rem;
    }
    .timeline-box{
        margin-bottom: 3.1rem;
        border-bottom: 1.5px solid #d2d2d2;
        padding-bottom: 0.8rem;
    }
    .timeline-box span{
        font-size: calc(0.9rem + 0.5vw);
        margin-bottom: 1.1rem;
    }
    .timeline-box p{
        font-size: calc(0.55rem + 0.5vw);
    }
}

@media screen and (max-width: 768px) {
    .timeline{
        padding: 2rem 1rem 2rem 1rem;
    }
    .timeline-content{
        margin-top: 2rem;
    }
    .timeline-box{
        margin-bottom: 2rem;
        border-bottom: 1.5px solid #d2d2d2;
        padding-bottom: 0.5rem;
    }
    .timeline-box span{
        font-size: calc(1.1rem + 0.5vw);
        margin-bottom: 1.1rem;
    }
    .timeline-box p{
        font-size: calc(1rem + 0.5vw);
    }
}