.about-us{
    background-color: #5b2096;
    padding: 4rem 7% 2rem 7%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-us .about-us-image{
    width: 35%;
}
.about-us .about-us-image img{
    width: 100%;
}
.about-us-content{
    width: 60%;
    color: #fff;
    text-align: center;
}
.about-us-content h2{
    font-size: calc(1.8rem + 0.5vw);
}
.about-us-content p{
    font-size: calc(0.65rem + 0.5vw);
    margin: 1.2rem auto 0.3rem;
    font-weight: 400;
}
.about-us-content .down-icon{
    font-size: calc(1.5rem + 0.5vw);
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .about-us{
        padding: 3.5rem 7% 1.8rem 7%;
    }
    .about-us-content h2{
        font-size: calc(1.6rem + 0.5vw);
    }
    .about-us-content p{
        font-size: calc(0.6rem + 0.5vw);
        margin: 1.1rem auto 0.3rem;
    }
    .about-us-content .down-icon{
        font-size: calc(1.4rem + 0.5vw);
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .about-us{
        padding: 3rem 7% 1.5rem 7%;
    }
    .about-us-content p{
        font-size: calc(0.55rem + 0.5vw);
        margin: 0.9rem auto 0.3rem;
    }
    .about-us-content .down-icon{
        font-size: calc(1.3rem + 0.5vw);
    }
}

@media screen and (max-width: 768px) {
    .about-us{
        padding: 1.5rem 0 1.5rem 0;
    }
    .about-us-content h2{
        font-size: calc(1.4rem + 0.5vw);
    }
    .about-us-content p{
        font-size: calc(0.9rem + 0.5vw);
        width: 100%;
        margin: 0.7rem auto 0.3rem;
    }
    .about-us-content .down-icon{
        font-size: calc(1.7rem + 0.5vw);
    }
}