/* Banner Start */
.banner{
    position: relative;
}
.banner img{
    width: 100%;
}
.banner .banner-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 7%;
}
.banner .banner-content h1{
    text-align: center;
    font-size: calc(1.8rem + 0.5vw);
}
.banner .banner-content p{
    text-align: center;
    font-size: calc(0.65rem + 0.5vw);
    width: 60%;
    margin-top: 1rem;
    font-weight: 400;
}
.banner .banner-content button{
    margin-top: 1rem;
    background-color: #fff;
    color: #2e0e4f;
    border: none;
    padding: 0.55rem 1.7rem;
    border-radius: 30px;
    font-weight: 600;
    font-size: calc(0.65rem + 0.5vw);
    transition: all 0.3s ease;
}
.banner .banner-content button:hover{
    background-color: #2e0e4f;
    color: #fff;
    box-shadow: rgba(255, 255, 255, 0.278) 0px 3px 8px;
}
/* Banner End */

/* Impact Created & Certificates Start */
.impact-created-and-certificates{
    background-color: #5b2096;
    background-image: url('../assets/images/glass-shape.avif');
    background-size: contain;
    background-repeat: no-repeat;
}
/* Impact Created & Certificates End */