/* Impact Created & Certificates Start */
.impact-created-and-certificates{
    background-color: #5b2096;
    background-image: url('../assets/images/glass-shape.avif');
    background-size: contain;
    background-repeat: no-repeat;
}
/* Impact Created & Certificates End */