.contact-form form{
    display: flex;
    flex-direction: column;
}
.contact-form form input{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    padding: 0 0 2rem 0;
    margin-bottom: 1rem;
    color: #fff;
    font-size: calc(1.1rem + 0.5vw);
    font-weight: 800;
}
.contact-form form input::placeholder,
.contact-form form textarea::placeholder{
    color: #fff;
}
.contact-form form textarea{
    background-color: #300d53;
    padding: 1.2rem 1.5rem;
    border-radius: 15px;
    outline: none;
    border: 1px solid #fff;
    margin-top: 1rem;
    color: #fff;
    min-height: 10rem;
    resize: none;
    font-size: calc(0.65rem + 0.5vw);
}
.contact-form form button{
    background-color: #fff;
    color: #300d53;
    width: max-content;
    border: none;
    padding: 1rem 2rem;
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 550;
    margin-top: 2rem;
    border-radius: 10px;
    transition: all 0.2s ease;
}
.contact-form form button:hover{
    background-color: #2e0e4f;
    color: #fff;
    box-shadow: rgba(255, 255, 255, 0.278) 0px 3px 8px;
}
.contact-form form button:active{
    scale: 0.95;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .contact-form form input{
        border-bottom: 1.8px solid #fff;
        padding: 0 0 1.7rem 0;
        margin-bottom: 0.9rem;
        font-size: calc(1rem + 0.5vw);
    }
    .contact-form form textarea{
        padding: 1.1rem 1.4rem;
        margin-top: 0.9rem;
        min-height: 9rem;
        font-size: calc(0.6rem + 0.5vw);
    }
    .contact-form form button{
        padding: 0.9rem 1.8rem;
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 1.8rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .contact-form form input{
        border-bottom: 1.5px solid #fff;
        padding: 0 0 1.5rem 0;
        margin-bottom: 0.8rem;
        font-size: calc(0.9rem + 0.5vw);
    }
    .contact-form form textarea{
        padding: 1rem 1.3rem;
        margin-top: 0.8rem;
        min-height: 8rem;
        font-size: calc(0.55rem + 0.5vw);
    }
    .contact-form form button{
        padding: 0.8rem 1.7rem;
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 1.6rem;
    }
}

@media screen and (max-width: 768px) {
    .contact-form form input{
        border-bottom: 1.7px solid #fff;
        padding: 0 0 1.3rem 0;
        margin-bottom: 0.9rem;
        font-size: calc(1rem + 0.5vw);
    }
    .contact-form form textarea{
        padding: 0.8rem 1.1rem;
        margin-top: 0.8rem;
        min-height: 10rem;
        font-size: calc(0.9rem + 0.5vw);
    }
    .contact-form form button{
        padding: 0.8rem 1.5rem;
        font-size: calc(0.95rem + 0.5vw);
        margin-top: 1.5rem;
    }
}