.our-awards{
    background-color: #5b2096;
    padding: 4rem 7%;
}
.our-awards h6{
    color: #fff;
}
.our-awards .awards-tabbing-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.our-awards .awards-tabbing-container .tab-content{
    width: 42%;
}
.our-awards .awards-tabbing-container .tab-content img{
    width: 100%;
    border-radius: 5px;
}
.our-awards .awards-tabbing-container .tab-head{
    width: 53%;
    border: none;
    display: flex;
    flex-direction: column;
}
.our-awards .awards-tabbing-container .nav-link{
    background: #300d53;
    padding: 1.35rem 1.5rem;
    border-radius: 2px;
    color: #fff;
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 600;
    border: none;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}
.our-awards .awards-tabbing-container .nav-link.active{
    background: linear-gradient(180deg, #ba7d3c 0%, #703f0f 80%);
}
.our-awards .awards-tabbing-container .nav-link a{
    color: #fff;
    font-size: calc(0.35rem + 0.5vw);
    font-weight: 500;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    display: none;
}
.our-awards .awards-tabbing-container .nav-link a:hover{
    text-decoration: underline;
}
.our-awards .awards-tabbing-container .nav-link.active a{
    display: flex;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .our-awards{
        padding: 3.5rem 7%;
    }
    .our-awards .awards-tabbing-container{
        margin-top: 2.5rem;
    }
    .our-awards .awards-tabbing-container .nav-link{
        padding: 1.25rem 1.4rem;
        font-size: calc(0.65rem + 0.5vw);
        margin-bottom: 0.84rem;
    }
    .our-awards .awards-tabbing-container .nav-link a{
        font-size: calc(0.3rem + 0.5vw);
        gap: 0.45rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .our-awards{
        padding: 3rem 7%;
    }
    .our-awards .awards-tabbing-container{
        margin-top: 2.2rem;
    }
    .our-awards .awards-tabbing-container .nav-link{
        padding: 1.1rem 1.2rem;
        font-size: calc(0.6rem + 0.5vw);
        margin-bottom: 0.7rem;
    }
    .our-awards .awards-tabbing-container .nav-link a{
        font-size: calc(0.25rem + 0.5vw);
        gap: 0.4rem;
    }
}

@media screen and (max-width: 768px) {
    .our-awards{
        padding: 2rem 1rem;
    }
    .our-awards h6{
        text-align: center;
    }
    .our-awards .awards-tabbing-container{
        margin-top: 2rem;
    }
    .our-awards .awards-tabbing-container .tab-content{
        width: 100%;
    }
    .our-awards .awards-tabbing-container .tab-head{
        width: 100%;
        margin-top: 1.5rem;
    }
    .our-awards .awards-tabbing-container .nav-link{
        padding: 0.9rem 1rem;
        font-size: calc(0.9rem + 0.5vw);
        margin-bottom: 0.5rem;
    }
    .our-awards .awards-tabbing-container .nav-link a{
        font-size: calc(0.7rem + 0.5vw);
    }
    .our-awards .awards-tabbing-container .nav-link a span{
        display: none;
    }
}