.certificates{
    padding: 4rem 7% 13rem 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: relative;
}
.certificates h4{
    font-size: calc(1.8rem + 0.5vw);
    margin-bottom: 1.5rem;
}
.certificates span{
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 400;
}
.certificates p{
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 400;
    margin-top: 0.5rem;
    text-align: center;
    width: 85%;
}
.certificates img{
    width: 24%;
    margin-top: 3.5rem;
}
.certificates #microphone{
    width: 30%;
    position: absolute;
    right: 0;
    bottom: 0;
}