.certificates{
    padding: 4rem 7% 13rem 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    position: relative;
}
.certificates h4{
    font-size: calc(1.8rem + 0.5vw);
    margin-bottom: 1.5rem;
}
.certificates span{
    font-size: calc(0.8rem + 0.5vw);
    font-weight: 400;
}
.certificates p{
    font-size: calc(0.65rem + 0.5vw);
    font-weight: 400;
    margin-top: 0.5rem;
    text-align: center;
    width: 85%;
}
.certificates img{
    width: 24%;
    margin-top: 3.5rem;
}
.certificates #microphone{
    width: 30%;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .certificates{
        padding: 3.8rem 7% 12rem 7%;
    }
    .certificates h4{
        font-size: calc(1.6rem + 0.5vw);
        margin-bottom: 1.3rem;
    }
    .certificates span{
        font-size: calc(0.7rem + 0.5vw);
    }
    .certificates p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.5rem;
    }
    .certificates img{
        margin-top: 3.2rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .certificates{
        padding: 3.7rem 7% 10rem 7%;
    }
    .certificates h4{
        font-size: calc(1.4rem + 0.5vw);
        margin-bottom: 1.2rem;
    }
    .certificates span{
        font-size: calc(0.6rem + 0.5vw);
    }
    .certificates p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.45rem;
        width: 80%;
    }
    .certificates img{
        margin-top: 3rem;
    }
}

@media screen and (max-width: 768px) {
    .certificates{
        padding: 2rem 1rem 10rem 1rem;
    }
    .certificates h4{
        font-size: calc(1.4rem + 0.5vw);
        margin-bottom: 1.2rem;
    }
    .certificates span{
        font-size: calc(0.95rem + 0.5vw);
    }
    .certificates p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 0.5rem;
        width: 100%;
    }
    .certificates img{
        margin-top: 1.5rem;
        width: 70%;
    }
    .certificates #microphone{
        width: 40%;
    }
}