.services-banner{
    position: relative;
    min-height: 88vh;
}
.services-banner img{
    width: 100%;
    min-height: 88vh;
    object-fit: cover;
}
.services-banner .banner-content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 7%;
}
.services-banner .banner-content h1{
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .services-banner .banner-content h1{
        margin-bottom: 1.4rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .services-banner .banner-content h1{
        margin-bottom: 1.3rem;
    }
}

@media screen and (max-width: 768px) {
    .services-banner{
        min-height: auto;
    }
    .services-banner img{
        min-height: auto;
    }
    .services-banner .banner-content{
        padding: 0 1rem;
    }
    .services-banner .banner-content h1{
        margin-bottom: 0;
        margin-top: 0.5rem;
    }
}