.impact-created{
    padding: 1.5rem 0 3rem 7%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.impact-created .impact-content{
    width: 35%;
    color: #fff;
}
.impact-created .impact-content h3{
    margin-top: 10rem;
}
.impact-created .impact-content p{
    font-size: calc(0.65rem + 0.5vw);
    margin-top: 2rem;
    margin-bottom: 0;
    font-weight: 400;
    background-color: #300d53;
    border-radius: 15px;
    padding: 1rem 1rem 1.05rem 1rem;
}
.impact-created .impact-images{
    width: 60%;
    padding: 5rem 7% 5rem 6%;
    border-top-left-radius: 90px;
    border-bottom-left-radius: 90px;
    border: 1px solid #d6954e;
    background-color: #542897;
}
.impact-created .impact-images img{
    width: 100%;
}
.impact-created #announce{
    width: 29%;
    position: absolute;
    bottom: -5rem;
    left: 0;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .impact-created{
        padding: 1.5rem 0 2.5rem 7%;
    }
    .impact-created .impact-content p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 1.9rem;
        padding: 0.9rem 0.9rem 1rem 0.9rem;
    }
    .impact-created .impact-images{
        padding: 4.5rem 7% 4.5rem 5.5%;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
    }
    .impact-created #announce{
        bottom: -5.5rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .impact-created{
        padding: 1.5rem 0 1.7rem 7%;
    }
    .impact-created .impact-content h3{
        margin-top: 9rem;
    }
    .impact-created .impact-content p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 1.8rem;
        padding: 0.85rem 0.85rem 0.95rem 0.85rem;
    }
    .impact-created .impact-images{
        padding: 4rem 7% 4rem 5%;
        border-top-left-radius: 70px;
        border-bottom-left-radius: 70px;
    }
    .impact-created #announce{
        bottom: -5.8rem;
    }
}

@media screen and (max-width: 768px) {
    .impact-created{
        padding: 1.5rem 1rem 1.7rem 1rem;
    }
    .impact-created .impact-content{
        width: 100%;
    }
    .impact-created .impact-content h3{
        margin-top: 0;
        text-align: center;
    }
    .impact-created .impact-content p{
        font-size: calc(0.9rem + 0.5vw);
        margin-top: 1.3rem;
        padding: 0.85rem 0.9rem 0.95rem 0.9rem;
        text-align: center;
    }
    .impact-created .impact-images{
        width: 100%;
        padding: 1.1rem 1.1rem 1.1rem 1.1rem;
        border-radius: 15px;
        margin-top: 1.5rem;
    }
    .impact-created #announce{
        top: 0;
        width: 35%;
    }
}