*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: unset !important;
}

body{
    font-family: "Montserrat", sans-serif;
}

@font-face {
    font-family: "Stretch-Pro", sans-serif;
    src: url("./assets/fonts/StretchPro.otf") format("opentype");
}

h1, h2, h3, h4, h5, h6{
    font-family: "Stretch-Pro", sans-serif !important;
}