*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: unset !important;
}

body{
    font-family: "Montserrat", sans-serif;
}

/* @font-face {
  font-family: "StretchPro";
  src: url("./assets/fonts/stretch-pro.regular.ttf") format("truetype");
} */

/* @font-face {
  font-family: "tbj-one-more";
  src: url("./assets/fonts/tbj-one-more.otf") format("opentype");
} */

@font-face {
  font-family: "hinato";
  src: url("./assets/fonts/hinato.otf") format("opentype");
}

@font-face {
  font-family: "OliGroteskL-Black";
  src: url("./assets/fonts/OliGroteskL-Black.otf") format("opentype");
}

h1, h2, h3, h4, h5, h6{
    /* font-family: "StretchPro", sans-serif !important; */
    /* font-family: "tbj-one-more", sans-serif !important; */
    /* font-family: "hinato", sans-serif !important; */
    /* font-family: "OliGroteskL-Black", sans-serif !important; */
    font-family: "Montserrat", sans-serif !important;
    text-transform: uppercase;
    font-size: calc(2.3rem + 0.5vw) !important;
    font-weight: 750 !important;
}

@media screen and (min-width: 1230px) and (max-width: 1399px) {
    h1, h2, h3, h4, h5, h6{
        font-size: calc(2.1rem + 0.5vw) !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    h1, h2, h3, h4, h5, h6{
        font-size: calc(1.8rem + 0.5vw) !important;
    }
}

@media screen and (max-width: 768px) {
    h1, h2, h3, h4, h5, h6{
        font-size: calc(1.4rem + 0.5vw) !important;
    }
}