.offered-services{
    background-color: #5b2096;
    padding: 4.5rem 7% 3rem 7%;
    color: #fff;
}
.services-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services-head p{
    font-size: calc(0.65rem + 0.5vw);
    text-align: center;
    width: 65%;
    margin-top: 1rem;
}
.services-row{
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
    margin-top: 2.5rem;
}
.services-row .service-box{
    width: 22%;
    padding: 1.5rem;
    border-radius: 30px;
    background-color: #310f54;
    margin-bottom: 3rem;
    transition: 0.1s ease;
}
.services-row .service-box:hover{
    background-color: #af7335;
}
.services-row .service-box span{
    font-size: calc(0.7rem + 0.5vw);
    font-weight: 700;
}
.services-row .service-box p{
    font-size: calc(0.4rem + 0.5vw);
    margin-top: 0.8rem;
}
.services-row .service-box .card-foot{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services-row .service-box .card-foot a{
    font-size: calc(0.5rem + 0.5vw);
    text-decoration: none;
    color: #fff;
}
.services-row .service-box .card-foot a .icon{
    font-size: calc(0.35rem + 0.5vw);
    margin-left: 4px;
    transition: margin-left 0.2s ease;
}
.services-row .service-box .card-foot a:hover .icon{
    margin-left: 8px;
}
.services-row .service-box .card-foot img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}

/* Media Queries */
@media screen and (min-width: 1230px) and (max-width: 1399px) {
    .offered-services{
        padding: 4rem 7% 2.5rem 7%;
    }
    .services-head p{
        font-size: calc(0.6rem + 0.5vw);
        margin-top: 0.9rem;
    }
    .services-row{
        margin-top: 2.2rem;
    }
    .services-row .service-box{
        padding: 1.4rem;
        border-radius: 27px;
        margin-bottom: 2.9rem;
    }
    .services-row .service-box span{
        font-size: calc(0.65rem + 0.5vw);
    }
    .services-row .service-box p{
        font-size: calc(0.35rem + 0.5vw);
        margin-top: 0.7rem;
    }
    .services-row .service-box .card-foot{
        margin-top: 0.9rem;
    }
    .services-row .service-box .card-foot a{
        font-size: calc(0.45rem + 0.5vw);
    }
    .services-row .service-box .card-foot a .icon{
        font-size: calc(0.3rem + 0.5vw);
        margin-left: 3px;
    }
    .services-row .service-box .card-foot a:hover .icon{
        margin-left: 7px;
    }
    .services-row .service-box .card-foot img{
        width: 47px;
        height: 47px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .offered-services{
        padding: 3.5rem 7% 2rem 7%;
    }
    .services-head p{
        font-size: calc(0.55rem + 0.5vw);
        margin-top: 0.8rem;
    }
    .services-row{
        margin-top: 1.8rem;
    }
    .services-row .service-box{
        padding: 1.3rem;
        border-radius: 25px;
        margin-bottom: 2.8rem;
    }
    .services-row .service-box span{
        font-size: calc(0.6rem + 0.5vw);
    }
    .services-row .service-box p{
        font-size: calc(0.3rem + 0.5vw);
        margin-top: 0.6rem;
    }
    .services-row .service-box .card-foot{
        margin-top: 0.8rem;
    }
    .services-row .service-box .card-foot a{
        font-size: calc(0.4rem + 0.5vw);
    }
    .services-row .service-box .card-foot a .icon{
        font-size: calc(0.28rem + 0.5vw);
        margin-left: 3px;
    }
    .services-row .service-box .card-foot a:hover .icon{
        margin-left: 6px;
    }
    .services-row .service-box .card-foot img{
        width: 44px;
        height: 44px;
    }

}

@media screen and (max-width: 768px) {
    .offered-services{
        padding: 2rem 1rem 3rem 1rem;
    }

}